<h1>Signup</h1>

<%= form_for :user, url: '/users' do |f| %>

 Name: <%= f.text_field :name %>
 Username: <%= f.text_field :username %>
 Email: <%= f.text_field :email %>
 Password: <%= f.password_field :password %>
 Password Confirmation: <%= f.password_field :password_confirmation %>
 City:  <%= f.collection_select :city_id, City.all, :id, :name %>
 <%= f.hidden_field :avatar, :value => "https://s3.amazonaws.com/FringeBucket/default-user.png" %>
 <%= f.submit "Submit" %>

<% end %>