<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col xs-12">
      <div class="border">
        <div class="scroll">
          <div class="profile-pic">
            <img src="<%= current_user.avatar %>" alt="default image" class="img-responsive img-circle avatar">
          </div>
        </div>
        <hr>
<<<<<<< HEAD
        <h2 class="text-center"><strong>@<%= current_user.username %></strong></h2>
        <hr>
        <h2 class="text-left"><strong>Name:</strong>  <%= current_user.name %></h2>
        <h2 class="text-left"><strong>City:</strong>  <%= current_user.city.name %></h2>
        <h2 class="text-left"><strong>Date joined:  <%= time_ago_in_words(current_user.created_at) %> ago</h2>
        <% if current_user.id == @user.id %>
          <%= link_to "Edit User", edit_user_path(current_user), class: "btn btn-block btn-warning" %>
          <br>
          <%= link_to "Delete User", user_path(current_user), method: :delete, class: "btn btn-block btn-danger" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="well">
        <a href="#">Link to single post path</a>
        <p>Post body will go here</p>
        <p>link_to number of comments will go here</p>
        <% if current_user.id == @user.id %>
          <a href="#" class="btn btn-sm">Edit Button</a>
          <a href="#" class="btn btn-sm">Delete Button</a>
        <% end %>
      </div>
    </div>
  </div>
</div>