<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col xs-12">
      <div class="well">
        <div class="extra-padding">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <% if @user.avatar.url == nil %>
                <%= image_tag "default_image.png", class: "img-responsive img-circle avatar" %>
              <% else %>
                <%= image_tag @user.avatar.url(:thumb), class: "img-responsive img-circle avatar", alt: "default-img" %>
              <% end %>
            </div>
            <hr>
            <h3 class="text-center"><strong>@<%= @user.username %></strong></h2>
            <hr>
            <h3 class="text-left"><strong>Name:</strong>  <%= @user.name %></h2>
            <% if @user.city %>
              <h3 class="text-left"><strong>City:</strong>  <%= link_to @user.city.name, city_path(@city) %></h2>
            <% end %>
            <hr>
            <h4 class="text-left"><strong>Date joined:</strong>  <%= time_ago_in_words(@user.created_at) %> ago</h2>
            <% if current_user.id == @user.id %>
              <%= link_to "Edit Account", edit_user_path(current_user), class: "btn btn-block btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <% @posts.each do |post|%>
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <h4><%= link_to post.title, city_post_path(post.city, post) %></h4>
              <p><%= post.body %></p>
              <p class="small">&nbsp;&nbsp;posted <%= time_ago_in_words(post.created_at) %> ago</p>
              <% if current_user.id == @user.id %>
                <%= link_to edit_city_post_path(post.city, post), class: "btn btn-default" do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to city_post_path(post.city, post), method: "delete", class: "btn btn-default" do %>              
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= paginate @posts, :theme => 'twitter-bootstrap-3',
                             :pagination_class => "pagination-sm" %>
      </div>
    </div>
  </div>
</div>