<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col xs-12">
      <div class="well">
        <div class="extra-padding">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <% if @user.avatar.url == nil %>
                <%= image_tag "default_image.png", class: "img-responsive img-circle avatar" %>
              <% else %>
                <%= image_tag @user.avatar.url(:thumb), class: "img-responsive img-circle avatar", alt: "default-img" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <h3 class="text-center"><strong>@<%= @user.username %></strong></h3>
            <hr>
            <h3 class="text-left"><strong>Name:</strong>  <%= @user.name %></h3>
            <% if @user.city %>
              <h3 class="text-left"><strong>City:</strong>  <%= link_to @user.city.name, city_path(@city) %></h2>
            <% end %>
            <hr>
            <h4 class="text-left"><strong>Date joined:</strong>  <%= time_ago_in_words(@user.created_at) %> ago</h3>
            <% if current_user && current_user.id == @user.id %>
              <%= link_to "Edit Account", edit_user_path(current_user), class: "btn btn-block btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <% if @posts.length == 0 %>
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <p class="no-post">You have no posts.</p>
              <p>Feel free to navigate around the site and read about the experiences of other travelers.  You can comment on the posts of other travelers or write about your own experiences.  Choose a city below to add your own post.</p>
              <div class="row">
                <% @cities.each do |city| %>
                  <div class="col-md-6">
                    <%= link_to new_city_post_path(city.id) do %>
                      <figure class="gallery-item">
                        <%= image_tag asset_path(city.image), class: "img-responsive index-img" %>
                        <figcaption class="img-title">
                          <h4><%= city.name %></h4>
                        </figcaption>
                      </figure>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>    
          </div>
        </div>
      <% end %>
      <% @posts.each do |post |%>
        <div class="row">
          <div class="col-md-12">
            <div class="well">
              <h4><%= link_to post.title, city_post_path(post.city, post) %></h4>
              <p><%= post.body %></p>
              <p class="small">&nbsp;&nbsp;posted <%= time_ago_in_words(post.created_at) %> ago</p>
              <% if current_user && current_user.id == @user.id %>
                <%= link_to edit_city_post_path(post.city, post), class: "btn btn-default" do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to city_post_path(post.city, post), method: "delete", class: "btn btn-default" do %>              
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= paginate @posts, :theme => 'twitter-bootstrap-3',
                             :pagination_class => "pagination-sm" %>
      </div>
    </div>
  </div>
</div>