<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-6 col xs-12">
      <div class="border">
        <div class="scroll">
          <div class="profile-pic">
            <img src="default-img" alt="default-img" class="img-responsive">
          </div>
        </div>
        <hr>
        <h2 class="text-center"><%= current_user.name %></h2>
        <h2>username: <%= current_user.username %></h2>
        <h2>date joined <small><%= time_ago_in_words(current_user.created_at) %> ago</small></h2>
        <h2>from <%= current_user.city %></h2>
        <% if current_user.id == @user.id %>
          <%= link_to 'Edit Profile', edit_user_path(@user) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="well">
        <a href="#">Link to single post path</a>
        <p>Post body will go here</p>
        <p>link_to number of comments will go here</p>
        <% if current_user.id == @user.id %>
          <a href="#" class="btn btn-sm">Edit Button</a>
          <a href="#" class="btn btn-sm">Delete Button</a>
        <% end %>
      </div>
    </div>
  </div>
</div>