<%= render "partials/navPartial" %>
<!-- 
<div class="wide">
  <div class="logo">VAGABOND</div>
</div>
 -->
<div class="header-overflow text-center">
  <%= image_tag 'sky.jpg', class: "header-img" %>
  <h2 class="title siteLogo">GL<i class='fa fa-globe'></i>BETROTTERS</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="julius-font text-center">DESTINATIONS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3">
      <a href="/cities/san-francisco">
        <figure class="gallery-item">
          <%= image_tag 'sf.jpg', class: "img-responsive index-img" %>
          <figcaption class="img-title">
            <h5>San Francisco</h5>    
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3">
      <a href="/cities/paris">
        <figure class="gallery-item">
          <%= image_tag 'paris.jpg', class: "img-responsive index-img" %>
          <figcaption class="img-title">
            <h5>Paris</h5>    
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3">
      <a href="/cities/london">
        <figure class="gallery-item">
          <%= image_tag 'london.jpg', class: "img-responsive index-img" %>
          <figcaption class="img-title">
            <h5>London</h5>    
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3">
      <a href="/cities/gibraltar">
        <figure class="gallery-item">
          <%= image_tag 'gibraltar.jpg', class: "img-responsive index-img" %>
          <figcaption class="img-title">
            <h5>Gibraltar</h5>    
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
  <br>
  <br>
  <!-- Place Google Map -->
  <div class="row">
    <div class="col-md-12">
      <iframe class="top" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="600" src="https://www.google.com/maps/d/embed?mid=zeTvroQGldWE.kKfvCttjqL1c">
        <div>
          <small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small><a href="http://buyproxies.io/">buyproxies.io</a></small>
        </div>
      </iframe>
    </div>
  </div>
</div><!-- /.container -->

