<%= render "partials/navPartial" %>
<!-- Header version 1 uncoment bellow -->
<div class="wide">
    <div class="col-xs-5 line"><!-- <hr> --></div>
    <div class="logo">VAGABOND</div>
    <div class="col-xs-5 line"><!-- <hr> --></div>
</div>

 
<!-- image grid Version 1 uncoment below -->

<div class="container">
  <div class="text-center">
    <h1 class="index-txt">DESTINATIONS</h1>
  </div>

  <div class="row">
      <div class="col-sm-3 col-md-3">
        <a href="/cities/1">
          <figure class="gallery-item">
            <img src="<%= asset_path('sf.jpg')%>" class="img-responsive" />
            <figcaption class="img-title">
              <h5>San Francisco</h5>    
            </figcaption>
          </figure>
        <a>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/cities/2">
          <figure class="gallery-item">
            <img src="<%= asset_path('paris.jpg')%>" class="img-responsive" />
            <figcaption class="img-title">
              <h5>Paris</h5>    
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/cities/3">
          <figure class="gallery-item">
            <img src="<%= asset_path('london.jpg')%>" class="img-responsive" />
            <figcaption class="img-title">
              <h5>London</h5>    
            </figcaption>
          </figure>
        </a>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/cities/4">
          <figure class="gallery-item">
           <img src="<%= asset_path('gibraltar.jpg')%>" class="img-responsive" />
            <figcaption class="img-title">
              <h5>Gibraltar</h5>    
            </figcaption>
          </figure>
        </a>
      </div>
  </div>
</div><!-- /.container -->

