<%= render "partials/navPartial" %>

<div class="header-overflow">
  <%= image_tag @city.header, class: "header-img" %>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class="col-md-8 col-md-offset-2">
      <div class="row well">
        <div class="col-md-3">
        <% if post.user.avatar.url == nil %>
          <%= image_tag "default_image.png", class: "img-responsive img-circle avatar" %>
        <% else %>
          <%= image_tag post.user.avatar.url(:thumb), class: "img-responsive img-circle avatar", alt: "default-img" %>
        <% end %>
        </div>
        <div class="col-md-9">
          <h4><%= post.title %></h4>
          <p><%= post.body %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container text-center">
  <%= paginate @posts, :theme => 'twitter-bootstrap-3',
                       :pagination_class => "pagination-sm" %>
</div>