<%= render "partials/navPartial" %>

<div class="header-overflow">
  <%= image_tag @city.header, class: "header-img" %>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-2 col-md-offset-3">
      <% if post.user.avatar.url == nil %>
        <%= image_tag "default_image.png", class: "img-responsive img-circle avatar" %>
      <% else %>
        <%= image_tag post.user.avatar.url, class: "img-responsive img-circle avatar", alt: "default-img" %>
      <% end %>
      </div>
      <div class="col-md-4">
        <h3><%= post.title %></h2>
        <h4><%= post.body %></h3>
      </div>
    </div>
    <br>
  <% end %>
</div>
<div class="container text-center">
  <%= paginate @posts, :theme => 'twitter-bootstrap-3',
                       :pagination_class => "pagination-sm" %>
</div>