<!DOCTYPE html>
<html>
<head>
  <title>GLOBETROTTERS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.png'), type:'image/png' %>
</head>
<body>
	<%= render "partials/navPartial" %>

	<%= render "partials/flashMsg" %>

	<%= yield %>

</body>
</html>
