<!DOCTYPE html>
<html>
<head>
  <title>GLOBETROTTERS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<%= favicon_link_tag 'assets/images/globe.jpg' %>
</head>
<body>
	<%= render "partials/navPartial" %>

	<%= render "partials/flashMsg" %>

	<%= yield %>

</body>
</html>
